<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <!-- Bean Definition Template -->
    <bean id="beanTemplate" abstract="true">
        <property name="hello" value="Hello World"/>
        <property name="greetings" value="Have a Nice Day!"/>
    </bean>

    <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
    </bean>

    <bean class="com.tutorialspoint.InitHelloWorld"/>

    <bean id="world" class="com.tutorialspoint.World">
        <property name="language" value="English"/>
        <property name="greetings" value="Hello from World!"/>
    </bean>

    <bean id="bangladesh" class="com.tutorialspoint.Bangladesh" parent="world">
        <property name="language" value="Bangla"/>
        <property name="primaryLanguage" value="Bangla"/>
    </bean>

    <!-- Definition for textEditor bean using inner bean -->
    <bean id="textEditor" class="com.tutorialspoint.TextEditor">
        <property name="spellChecker">
            <bean id="spellChecker" class="com.tutorialspoint.SpellChecker"/>
        </property>
    </bean>

    <!-- Definition for javaCollection -->
    <bean id="javaCollection" class="com.tutorialspoint.JavaCollection">
        <!-- results in a setAddressList(java.util.List) call -->
        <property name="addressList">
            <list>
                <value>Bangladesh</value>
                <value>Germany</value>
                <value>Australia</value>
                <value>Canada</value>
                <value>Canada</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>Bangladesh</value>
                <value>Germany</value>
                <value>Australia</value>
                <value>Canada</value>
                <value>Canada</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="Bangladesh"/>
                <entry key="2" value="Germany"/>
                <entry key="3" value="Australia"/>
                <entry key="4" value="Canada"/>
                <entry key="5" value="Canada"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">Bangladesh</prop>
                <prop key="one">Bangladesh</prop>
                <prop key="two">Germany</prop>
                <prop key="three">Australia</prop>
                <prop key="four">Canada</prop>
                <prop key="five">Canada</prop>
            </props>
        </property>
    </bean>
</beans>