<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <!-- Bean Definition Template -->
    <bean id="beanTemplate" abstract="true">
        <property name="hello" value="Hello World"/>
        <property name="greetings" value="Have a Nice Day!"/>
    </bean>

    <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
    </bean>

    <bean class="com.tutorialspoint.InitHelloWorld"/>

    <bean id="world" class="com.tutorialspoint.World">
        <property name="language" value="English"/>
        <property name="greetings" value="Hello from World!"/>
    </bean>

    <bean id="bangladesh" class="com.tutorialspoint.Bangladesh" parent="world">
        <property name="language" value="Bangla"/>
        <property name="primaryLanguage" value="Bangla"/>
    </bean>

    <!-- Definition for textEditor bean using inner bean -->
    <bean id="textEditor" class="com.tutorialspoint.TextEditor">
        <property name="spellChecker">
            <bean id="spellChecker" class="com.tutorialspoint.SpellChecker"/>
        </property>
    </bean>

</beans>